.principalDiv{
   display: flex;
   flex-direction: column;
   justify-content: center;
    width: 100%;
    align-items: center;
    margin-top: 100px;
 
}
.subDiv{
    display: flex;
    flex-direction: row;
}
.imageDiv{
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 100%;
    margin: 0px;
    
}
.image{
    margin: 0px;
    margin-top: 19px;
    margin-left: 2px;
}
.flagDiv{
    border: 2px solid;
    height: 400px;
    width: 600px;
    margin: 0px;
    border: 3.5px  solid rgb(60, 198, 213);
    border-right: none;
    border-bottom: 4px solid purple;
    
}
.infoDiv{
    border: 3.5px  solid rgb(60, 198, 213);
    border-left: none;
    height: 400px;
    width: 370px;
    text-align: left;
    backdrop-filter: blur(7px);
    border-bottom: 4px solid purple;
    

}
.activitiesDiv{
    display: flex;
    flex-direction: row;
    border: 3.5px  solid rgb(60, 198, 213);
    width: 970px;
    justify-content: center;
    backdrop-filter: blur(7px);
    border-top: none;
}

.activityDiv{
    display: flex;
    border-radius: 12px;
    flex-direction: column;
    margin: 10px;
    height: 280px;
    width: 195px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s linear;
    perspective: 600px;
}
.activityDiv .front,
.activityDiv .back{
    width: 100%;
    height: 100%;
    

    backface-visibility: hidden;
}
.activityDiv .front{
    background-color:purple;
    border-radius: 12px;
    border: 3px solid rgb(71, 209, 219);
}
.activityDiv .back{
    background-color: rgb(69, 224, 224);
    border-radius: 12px; 
    border: 3px solid purple;
}
.activityDiv .front{
    position: absolute;
    top: 0,;
    transform: rotateY(180deg);
}
.activityDiv:hover {
    transform: rotateY(180deg);
}


.imageActivity{
    height: 130px ;
    width: 130px;
    margin: 0px;
   
}

.descriptionText{
    color:  white;
    font-size: 100%;
    text-align: start;
    margin: 3px;
    margin-top: 5px;
}
