.paginado{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px;
    justify-content: center;
    border-radius: 5px;
    border: 2px;
    
    
}
.cur{
    cursor: pointer;
    list-style: none;
    border: 2px solid;
    width:21px ;
    border-radius: 3px;
    margin-left: 5px;
}
.paginado2{
    margin-top: 30px;
}