.cards{
    display: flex;
    flex-direction:row;
    width: 100%;
    background-size: 800px 800px;
    flex-wrap: wrap;
    justify-content: center;
    
}
.card{
   
    border-radius: 20px ;
    box-shadow: 0 0 20px rgb(99, 255, 14);
    background: rgb(244, 246, 247);
    margin: 25px;
    height: 500px;
    width: 300px;

    background-size: 500px 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    
   
}
.image{
    height: 250px;
    width: 250px;
    border-radius: 15px;
    margin: 15px;
    border-right:4px solid rgb(246, 250, 135);
    border-bottom: 4px solid rgb(246, 250, 135);
 
    

}
.textName{
    color: azure;
    border-radius: 20px ;
    box-shadow: 0 0 25px rgb(234, 237, 176);
    text-align: center;
    -webkit-text-stroke: 1.5px greenyellow;
    margin: 5px;
    margin-top: 15px;
    width: 95%;
    vertical-align: middle;
    display: table;
    text-decoration: none;
}
